<div class="contact-div p-3">
  <div class="heading-text pt-5">
    <p>Contact</p>
  </div>
  <div class="text-div pt-4">
    <p>Find us at some address at some place or call us at 05050515-122330</p>
    <p><small class="fyi p-2 me-2">FYI! </small> We offer full-service catering for any event, large or small. We
      understand your needs and we will cater the
      food to satisfy the biggerst criteria of them all, both look and taste.</p>
    <p class="pt-5" style="font-size: 2.5rem;">
      <small style="font-weight: 600;">RESERVE</small> a table, ask for today's special or just send us a message:
    </p>
  </div>

  <div class="form-div mb-5">
    <div class="input1">
      <input type="text" placeholder="NAME">
    </div>
    <div class="input2 pt-4">
      <input type="number" placeholder="HOW MANY PEOPLE">
    </div>

    <div class="input3 pt-4">
      <input type="date" placeholder="HOW MANY PEOPLE">
    </div>

    <div class="input4 pt-4">
      <input type="text" placeholder="ANY MESSAGE">
    </div>

    <div class="btn-div pt-4">
      <button class="d-block w-100">SEND MESSAGE</button>
    </div>
  </div>
</div>
