.contact-div {
  background-color: rgb(108, 122, 129);
  display: flex;
  flex-wrap: wrap;
  color: white;
  flex-direction: column;
  align-items: center;
}

.heading-text p {
  font-size: 3.5rem;
}

.text-div {
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
}

.text-div p {
  font-size: 1.8rem;
}

small.fyi {
  background-color: black;
  border-radius: 4px;
}

.form-div {
  padding-left: 10%;
  padding-right: 10%;
  width: 100%;
}

input {
  width: 100%;
  padding: 20px;
}

input::placeholder {
  font-size: 1.8rem;
}

.btn-div button {
  border: none;
  outline: none;
  padding: 18px;
  font-size: 1.8rem;
  cursor: pointer;
}

.btn-div button:hover {
  background-color: rgb(204, 204, 204);
}
