<div class="about-div">
  <div class="heading pt-5">
    <p>ABOUT</p>
  </div>
  <div class="about-text pt-3">
    <p>The Pizza Restaurant was founded in blabla by Mr. Italiano in lorem ipsum dolor sit amet, consectetur adipiscing
      elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
      exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  </div>
  <div class="chef-div">
    <div class="chef-text">
      <p>The Chef? Mr. Italiano himself</p>
      <p>We are proud of our interiors.</p>
    </div>
    <div class="chef-image-div">
      <img class="img-fluid chef_image" style="vertical-align: middle;" src="https://www.w3schools.com/w3images/chef.jpg" alt="chef_image">
    </div>
  </div>

  <div class="interior-image">
    <img class="img-fluid d-block w-100" src="https://www.w3schools.com/w3images/onepage_restaurant.jpg" alt="interior_image">
  </div>

  <div class="opening-time mt-3">
    <p>OPENING HOURS</p>
    <div class="lists-div mt-5">
      <div class="list1-div">
        <ul>
          <li>Mon & Tue CLOSED</li>
          <li>Wednesday 10.00 - 24.00</li>
          <li>Thursday 10:00 - 24:00</li>
        </ul>
      </div>  <div class="list2-div">
        <ul>
          <li>Friday 10:00 - 12:00</li>
          <li>Saturday 10:00 - 23:00</li>
          <li>Sunday Closed</li>
        </ul>
      </div>
    </div>
  </div>
</div>
